<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}"/>

    <!-- Theme CSS -->
    <link th:href="@{/css/clean-blog.min.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <title>Blog</title>

    <!-- Bootstrap Core CSS -->


</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/post}">Create Post</a>
                    </li>
                    <li>
                        <a th:if="${username == 'ANONIM'}" th:href="@{/login}">Log In</a>
                        <a th:unless="${username == 'ANONIM'}" th:href="@{/logout}">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" th:style="'background:url(' + @{/img/about-bg.jpg} + ');'">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>BLOG</h1>
                        <hr class="small"/>
                        <span class="subheading">Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <tr th:each="post : ${postek}" >
                    <div class="post-preview">
                        <a th:href="@{/post/__${post.title}__}">
                            <h2 class="post-title" th:text="${post.title}">

                            </h2>
                            <h3 class="post-subtitle" th:text="${post.preview}">
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <strong th:text="${post.author.email}"></strong></p>
                    </div>
                </tr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Footer -->
    <footer>

    </footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- Contact Form JavaScript -->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>

    <!-- Theme JavaScript -->
    <script th:src="@{/js/clean-blog.min.js}"></script>

</body>

</html>
